/* line 3, ../sass/style.sass */
body.node-type-pet .views-label {
  font-weight: bold;
}

/* line 6, ../sass/style.sass */
#comments {
  display: none;
}

/* line 10, ../sass/style.sass */
#block-system-main-menu ul {
  margin: 0;
  padding: 0;
}
/* line 13, ../sass/style.sass */
#block-system-main-menu ul li {
  float: left;
  margin-right: 20px;
  list-style-image: none;
  list-style-type: none;
}
/* line 18, ../sass/style.sass */
#block-system-main-menu ul li a {
  padding: 8px 20px;
  background: red;
  color: #fff;
  text-decoration: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.8em;
}

/* line 29, ../sass/style.sass */
#block-motor-loggedin-user {
  text-align: right;
}
