body.node-type-pet
	.views-field
	.views-label
		font-weight: bold

body.page-dashboard
	h1
		margin: 0
	.layout-swap
		padding: 0

.node-event_vaccinate-form,
.node-event_treatment-form
	.form-field-name-field-pet
		display: block

#block-views-current-pet-block,
#block-views-current-owner-block
	border: 3px solid #ccc
	padding: 10px

th
	text-align: left

#comments
	display: none

#block-system-main-menu
	ul
		overflow: hidden
		margin: 0
		padding: 0
		li
			float: left
			margin-right: 10px
			margin-top: 10px
			list-style-image: none
			list-style-type: none
			height: 30px

.block-motor
body.page-node-add-event-treatment .block
	background: #eee
	border: 4px solid #ccc
	margin: 15px 0
	padding: 15px
	h2
		margin: 0

#block-views-current-owner-block
	float: right
#block-views-current-pet-block
	float: left
.node-form
	clear: both

h2.block__title
	margin: 0 10px

#block-system-main-menu ul li a,
#block-motor-loggedin-user,
a.add-event
	padding: 8px 12px
	background: #d35f5f
	color: #fff
	text-decoration: none
	-webkit-border-radius: 30px
	-moz-border-radius: 30px
	border-radius: 30px
	font-weight: normal
	text-transform: uppercase
	font-size: 0.8em
#block-motor-loggedin-user
	background-color: #2c89a0
	display: inline-block
	height: 28px
	float: right
	padding: 2px 20px
	border: 0
#block-system-main-menu ul li#menu-item-last-treatment 
	a
		background-color: #2c89a0
#block-motor-loggedin-user
	text-align: right

.view-former-treatments
	.views-field-created
		h3
			margin-bottom: 0
a.add-event.event-selected
	background: #2c89a0
.search-description
	font-size: 0.8em

.view-current-pet
	.views-field-field-species
		ul
			padding: 0
			margin: 0
			li
				list-style-type: none
				display: inline
			li:first-child::after
				content: " >"
.paragraphs-item-recipe
	.field
		float: left
	.field-name-field-drug-amount .field-item:first-child::after
		content: "x  :"
.views-field-php
	clear: both
#block-motor-treatment,
#block-motor-vaccinate
	padding: 10px
	border: 3px solid #ccc
	margin-bottom: 10px
#former-treatments
	margin-top: 20px
.treatment-wrapper
	margin-bottom: 10px
	.drugs-used-content
		clear: both
	.treatment-header
		background-color: #2c89a0
		color: #fff
		text-decoration: none
		-webkit-border-radius: 30px
		-moz-border-radius: 30px
		border-radius: 30px
		font-weight: normal
		text-transform: uppercase
		font-size: 0.8em
		height: 28px
		padding: 2px 20px 6px
		line-height: 24px
		border: 0
		cursor: pointer
	.treatment-content
		display: none
		padding-left: 30px
		.sum-of-cost-content
			text-align: right

#open-treatments
	border: 1px solid #ccc
	padding: 10px
	p, table
		margin: 0
	.view-header
		font-weight: bold
#block-motor-former-treatments
	.views-label
		font-weight: bold